# local idea
.idea
.idea/
*.iml
**/target/
**/*.log.*
**/.DS_Store
**/.itest/*

*~
.DS_Store
*.log
# Android generated
bin/
gen/
classes/
gen-external-apklibs/

# Ant
local.properties

# Maven
target/
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store

# local File
api-gen/

